global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  # Add service targets here as they are built
  # - job_name: 'order_service'
  #   static_configs:
  #     - targets: ['host.docker.internal:8001']
